<h3>Hello there..</h3>
<%= current_user.email %>

<a href="/new">Click here to create a new posting!!</a>


<ul>
  <% current_user.posts.order("created_at DESC").each do |post| %>
    <li>
      <b><%= post.title %></b>
      <p><%= post.body %></p>
    </li>
  <% end %>
</ul>