

<h1>Lets Post!!!</h1>



<form method="POST" action="/create_post">
	<input type="hidden" name="[post]user_id" value="<%=current_user.id%>">

	<label>Post Title</label>
	<input type="text" name="[post]title">

	<label>Post Text</label>
	<input type="text" name="[post]body">

	<input type="submit">
</form>
